@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
row{
    margin:0px;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    color: white;
    background-color: var(--main-bg);
    padding: 2rem 0;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a{
    color: white;
    font-size: 1.8rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar toggler{
    color: grey;
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.main_header_left{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 3rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .text_cl{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px black;
    outline: none;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_header_right figure img{
    filter: drop-shadow(0 2.5rem 3rem rgba(0 0 0 0.3));
}
.main_header_right img{
    width: 400px;
    height: 300px;
    object-fit: contain;
}
.temp_form{
    width: 70%;
    position: relative;
    margin: 5rem auto;  
}
.temp_form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color: #1e272e;
    color: white;
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 3rem;
}
::placeholder{
    color: white;
}
.temp_form input[type="submit"]{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    background: #0097e6;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 2rem;
}
.temp_form input[type="submit"]:hover{
    background-color: white;
    color: #0097e6;
}
.tempinfo{
    width: 35rem;
    margin: auto;
    min-height: 20rem;
    background-color: rgb(46, 46, 71);
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
    /* padding: 1rem; */
}
.top_layer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e272e;
    border-radius: 1rem 1rem 0 0;
}
.top_layer p{
    color: white;
    font-weight: 700;
    font-size: large;
    padding: 1.5rem;
}
.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main_layer #city_name{
    font-size: 2rem;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}
.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: white;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa{
    font-size: 7rem;
    font-weight: 900;
}
.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}
.errimg{
    width: 60rem;
    height: 30rem;
}
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0px;
    text-align: center;
    color: white;
    line-height: 5rem;
    font-size: 1.4rem;
}

@media (max-width:768px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem 0;
    }
    .temp_form{
        width: auto;
    }
    .tempinfo{
        width: auto;
    }
    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa{
        font-size: 5rem;
        font-weight: 900;
    }
}